.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 105px auto;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 30px;
    width: 960px;
    height: 611px;
    background-color: darkgrey;
    box-shadow: 0 0 5px 0 rgb(91, 137, 166);
}

.closing-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1%;
    max-width: 50%;
    text-align: center;
    max-width: 700px;
}

.closing-text img {
    max-width: 700px;
    height: auto;
}
@media screen and (max-width: 1280px) {
    .contact-container img {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contact-container {
        flex-direction: column-reverse;
    }
    
    .contact-box {
        width: 90%;
        border-radius: 30px;
    }
    
    .closing-text {
        max-width: 85%;
    }

    .contact-container img {
        max-width: 100%;
    }
}

form {
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid rgb(91, 137, 166);
    border-radius: 14px;
    outline: none;
    background: transparent;
    box-shadow: 0 0 10px rgb(91, 137, 166);
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
    align-self: flex-start;
}

.btn {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(91, 137, 166);
    font-size: 12px;
    border: none;
    cursor: pointer;

}

h2 {
    width: 40%;
    font-size: 2rem;
    font-family: 'Estonia', cursive;
}

