* {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: inline-flex
}

.nav-item {
    list-style-type: none;
}
.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
}

.nav-item a:hover {
    color: green;
}

.grid-container {
    display: grid;
    max-width: 900px;
    grid-gap: 20px;
    grid-template-areas: "picture heading"
                         "picture   desc"
                         "left    right";
    grid-template-columns: 500px 400px;
    grid-template-rows: 300px 300px 200px;
    position: relative; 
    margin: auto;
}

.picture {
    grid-area: picture;
}

.heading {
    grid-area: heading;
}

.desc {
    grid-area: desc;
}


